Binaries
DerivedDataCache
Intermediate
Saved
Content/KiteDemo
Content/Lighting
Content/Mannequin
Content/ModularRPGHeroesPolyart
Content/ParagonGreystone/Audio
Content/ParagonGreystone/FX
Content/ParagonGreystone/Characters/Global
Content/ParagonGreystone/Characters/Maps
Content/ParagonGreystone/Characters/Heros/Greystone/Materials
Content/ParagonGreystone/Characters/Heros/Greystone/Animations
Content/ParagonGreystone/Characters/Heros/Greystone/Meshes
Content/ParagonGreystone/Characters/Heros/Greystone/Skins
Content/ParagonGreystone/Characters/Heros/Greystone/Textures
Content/ParagonGreystone/Characters/Heros/Greystone/AnimationTestMap.umap
Content/ParagonMinions
Content/ParagonProps
Content/ParagonSparrow
Content/SampleMap
Content/StarterContent
Content/ThirdPerson
Content/ThirdPersonCPP
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
