Binaries
DerivedDataCache
Intermediate
Saved
Content/KiteDemo
Content/Lightning
Content/Mannequin
Content/ModularRPGHeroesPolyart
Content/ParagonGreystone
Content/ParagonMinions
Content/ParagonProps
Content/ParagonSparrow
Content/SampleMap
Content/StarterContent
Content/ThirdPerson
Content/ThirdPersonCPP
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
